<div class="dialog-header">
  <h2 mat-dialog-title>New Message</h2>
  <button mat-icon-button (click)="close()" type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Your email"
      />
      <mat-error *ngIf="messageForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error
        class="errrors"
        *ngIf="messageForm.get('email')?.hasError('email')"
      >
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <div style="height: 20px"></div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        formControlName="message"
        placeholder="Your message"
        rows="5"
      >
      </textarea>
      <mat-error *ngIf="messageForm.get('message')?.hasError('required')">
        Message is required
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-button
      type="button"
      [disabled]="submitting$ | async"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="messageForm.invalid || (submitting$ | async)"
    >
      <mat-spinner
        *ngIf="submitting$ | async"
        diameter="20"
        class="button-spinner"
      ></mat-spinner>
      <span *ngIf="!(submitting$ | async)">Submit</span>
    </button>
  </mat-dialog-actions>
</form>
